# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-o6qdegik!pm!q5y=*@h#pbuam8-898!85$y_fl(ibogtxx!w0j
ACCESS_TOKEN_LIFETIME=24
REFRESH_TOKEN_LIFETIME=720

# Database Configuration
DB_NAME=RISA_Notification_Engine
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_SSLMODE=False

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
EMAIL_USE_TLS=True

# Celery Configuration
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Web Server Configuration
WEBSERVER_PORT=8000
